
# ============================================================
# Simulation outputs
# ============================================================

sim/build/*
sim/waveforms/*
/*_sim

# Preserve the directories in Git
!sim/build/.gitkeep
!sim/waveforms/.gitkeep

# ============================================================
# Waveform and simulation files
# ============================================================

*.vcd
*.fst
*.lxt
*.lx2
*.vvp

# ============================================================
# Icarus Verilog temporary files
# ============================================================

*.vpi
*.vcd.tmp

# ============================================================
# GTKWave local settings
# ============================================================

*.gtkw

# ============================================================
# Editor / OS files
# ============================================================

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

*~
*.swp
*.swo
.DS_Store
